/* Selection */
::selection {
    background-color: var(--azul__v4);
    color: var(--neutro__v1)
}

/* ------------------------------------------------------------------------------------ */
/* Scrollbar */
/* Webkit: Chrome, Safari, Edgea */
::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

/* Thumb: parte del scrollbar que el usuario puede arrastrar */
::-webkit-scrollbar-thumb {
    background-color: var(--azul__v3);
    border-radius: var(--border-radius__sm);
    border: 2px solid var(--azul__v2)
}

/* Track: es el fondo donde se mueve el thumb */
::-webkit-scrollbar-track {
    background-color: var(--neutro__v1);
    border-radius: var(--border-radius__sm)
}

/* Corner: es donde se encuentran los scrollbars horizontales y verticales */
::-webkit-scrollbar-corner {
    background-color: var(--neutro__v1)
}

/* ------------------------------------------------------------------------------------ */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  color: var(--neutro__v3);
}

/* default store */
#root.light {
  background: url("/images/background.png");
  background-attachment: fixed;
}

/* admin/login */
#root.dark {
  background: url("/images/background-dark.png");
  background-attachment: fixed;
}

/* ------------------------------------------------------------------------------------ */
/* UI */ 

select {
  cursor: pointer;
}

/* ------------------------------------------------------------------------------------ */
/* Mensajes emergentes */ 
.Toastify__toast {
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #bff4ff;

    text-shadow:
        0 0 5px rgba(180, 240, 255, 0.8);

    transition:
        transform .25s,
        box-shadow .25s,
        filter .25s,
        background .25s;
    
        backdrop-filter: blur(2px);
}

.Toastify__toast--success {
    position: relative;
    overflow: hidden;

    border: 1px solid rgba(120, 220, 255, 0.45);

    background:
        radial-gradient(
            circle at center,
            rgba(0,0,0,0.02) 35%,
            rgba(0, 180, 255, 0.08) 70%,
            rgba(0, 180, 255, 0.18) 100%
        ) !important;

    backdrop-filter: blur(3px);

    box-shadow:
        0 0 4px rgba(0, 180, 255, 0.5),
        0 0 12px rgba(0, 180, 255, 0.25),

        inset 0 0 8px rgba(0, 180, 255, 0.25),
        inset 0 0 18px rgba(0, 180, 255, 0.08) !important;

    color: #bff4ff;
}

.Toastify__toast--success::after,
.Toastify__toast--error::after {
    content: '';

    position: absolute;
    inset: 0;

    background:
        repeating-linear-gradient(
            180deg,
            rgba(255,255,255,0.03) 0px,
            rgba(255,255,255,0.03) 1px,
            transparent 2px,
            transparent 4px
        );

    pointer-events: none;

    opacity: .5;
}

.Toastify__toast--error {
    position: relative;
    overflow: hidden;

    border: 1px solid rgba(120, 220, 255, 0.45);

    background:
        radial-gradient(
            circle at center,
            rgba(0,0,0,0.02) 35%,
            rgba(255, 40, 40, 0.08) 70%,
            rgba(255, 30, 30, 0.18) 100%
        ) !important;

    box-shadow:
        0 0 4px rgba(255, 40, 40, 0.6),
        0 0 12px rgba(255, 0, 0, 0.3),

        inset 0 0 8px rgba(255, 70, 70, 0.2),
        inset 0 0 18px rgba(255, 0, 0, 0.1) !important;
        
    backdrop-filter: blur(3px);

    color: #bff4ff;
}

.Toastify__toast::before {
    content: '';

    position: absolute;
    top: 0;
    left: -120%;

    width: 80%;
    height: 100%;

    background: linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,0.35),
        transparent
    );

    transform: skewX(-25deg);

    transition: left .7s;
}

.Toastify__toast--success:hover {
    transform: translateY(-2px);

    filter: brightness(1.15);

    box-shadow:
        0 0 10px rgba(0, 200, 255, 0.8),
        0 0 25px rgba(0, 200, 255, 0.45);
}

.Toastify__toast--error:hover {
    transform: translateY(-2px);

    filter: brightness(1.15);

    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.8),
        0 0 25px rgba(255, 0, 0, 0.45),
        inset 0 0 14px rgba(255, 120, 120, 0.25),
        inset 0 0 4px rgba(255,255,255,.6);
}

.Toastify__toast:hover::before {
    left: 140%;
}

/* ------------------------------------------------------------------------------------ */
/* Contenedor Principal */
.content__container {
    display: flex;
    width: 100%;
    gap: var(--spacing__lg);
    flex-direction: column;
    text-align: center;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .2);
    flex: 1;
}

@media (max-width: 750px) {
    .content__container {
        gap: var(--spacing__md)
    }
}

body {
    overflow-x: hidden;
    width: 100vw;
}
